$Nav-bg:#ffffff;
$Nav-color:#22a6b3;
$Nav-hoverColor:#20bf6b;
$Nav-activeColor:#eb3b5a;
$Icon-color:#2f3542;
$Icon-ActiveColor:#ff4757;
$Icon-HoverColor:#2ed573;
$Product-TitleColor:$Nav-color;
$Product-TextColor:$Icon-color;
$Footer-bg:#1e272e;
$Footer-textColor:$Nav-bg;